.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    padding: 2rem;
    gap: 2rem;
    animation: fadeIn 1s ease-in-out;
}

.right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


.content {
    max-width: 500px;
    text-align: left;
}

.heading {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.paragraph {
    font-size: 0.9rem;
    line-height: 1.6;
    color: #444;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.logoContainer {
    position: relative;
    display: inline-block;
}

.logo {
    max-height: 400px;
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.1) rotate(2deg);
}

.arenaLogo {
    position: absolute;
    bottom: 30px;
    right: 30px;
    max-width: 80px;
    transition: transform 0.3s ease;
}

.arenaLogo:hover {
    transform: scale(1.1) rotate(2deg);
}

.arenaLogo img {
    width: 100%;
    height: auto;
}

.addGame {
    background-color: #a3a5b133;
    color: #e6e6e6;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: .8rem;
    font-weight: 800;
    border-radius: 0.75rem;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.3);
}

.addGame:hover {
    background-color: #5334da;
    box-shadow: 0 0 0.75rem rgba(170, 170, 163, 0.486);
    transform: scale(1.05);
}

.addGame:active {
    transform: scale(0.97);
    box-shadow: 0 0.125rem 0.375rem rgba(0, 0, 0, 0.4);
    /* 2px 6px */
}